<style>@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@200;300;400;500;600;700;800&family=GFS+Didot&family=Noto+Sans+TC:wght@100;300;400;500;700;900&display=swap');
font-display: fallback;

</style>* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'GFS Didot', 'PingFang TC', 'Noto Sans TC', 'Assistant';
  font-display: fallback;
}


a {
  text-decoration: none;
  /* Remove underline */
  color: black;
}

html {
  scroll-behavior: smooth;
}

.button-black {
  align-items: center;
  background-color: black;
  letter-spacing: 2px;
  color: white;
  border: 3px solid black;
  box-sizing: border-box;
  display: inline-flex;
  font-size: 16px;
  font-weight: 500;
  justify-content: center;
  line-height: 1;
  min-height: 3rem;
  padding: calc(.875rem - 1px) calc(3rem - 1px);
  position: relative;
  text-decoration: none;
  transition: all 250ms;
  width: auto;
  cursor: pointer;
}

.button-black:hover {
  background-color: transparent;
  color: black;
}

.button-black:active {
  background-color: #d5d2d2dc;
}

.button-white {
  align-items: center;
  background-color: black;
  letter-spacing: 2px;
  color: white;
  border: 3px solid black;
  box-sizing: border-box;
  display: inline-flex;
  font-size: 16px;
  font-weight: 500;
  justify-content: center;
  line-height: 1;
  min-height: 3rem;
  padding: calc(.875rem - 1px) calc(3rem - 1px);
  position: relative;
  text-decoration: none;
  transition: all 250ms;
  width: auto;
  cursor: pointer;
}

.button-white:hover {
  background-color: transparent;
  color: white;
  border-color: white;
}

.button-white:active {
  background-color: #d5d2d2dc;
}

.hidden-button {
  /*display: none;*/
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  padding: 10px 20px;
  border: 3px solid black;
  background-color: black;
  color: white;
  border: 3px black;
  cursor: pointer;
  letter-spacing: 1.5px;
  transition: opacity 0.3s ease, visibility 0.3s ease 0.1s;
  opacity: 0;
  /* Start with opacity set to 0 */
  visibility: hidden;
  /* Start with visibility hidden */
}

.feature-ws-card:hover .hidden-button {
  opacity: 1;
  /* Show the button when hovering */
  visibility: visible;
  /* Show the button when hovering */
}

.feature-ws-card:active .hidden-button {
  background-color: #959494dc;
}

h1 {
  font-family: 'PingFang TC', 'Noto Sans TC', 'Assistant';
  font-size: ;
  font-size: 28px;
  font-weight: 400;
  letter-spacing: 2px;
  line-height: 1.2;
  color: #222;
  margin: 0;
}

h2 {
  font-family: 'PingFang TC', 'Noto Sans TC', 'Assistant';
  font-size: 28px;
  line-height: 1.2;
  letter-spacing: 1px;
  font-weight: 400;
  color: #222;
  margin: 0;
}

h3 {
  font-family: 'PingFang TC', 'Noto Sans TC', 'Assistant';
  font-size: 40px;
  line-height: 1.2;
  letter-spacing: 1px;
  font-weight: 400;
  color: #222;
  margin: 0;
}

h4 {
  font-family: 'PingFang TC', 'Noto Sans TC', 'Assistant';
  font-weight: 400;
  font-size: 20px;
  letter-spacing: 1.2px;
  color: #222;
}


h5 {
  font-family: 'PingFang TC', 'Noto Sans TC', 'Assistant';
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 0.5px;
  margin: 0;
}

/*extra small front*/
h6 {
  font-family: 'PingFang TC', 'Noto Sans TC', 'Assistant';
  font-weight: 500;
  font-size: 12px;
  margin: 0;
}

p {
  font-family: 'PingFang TC', 'Noto Sans TC', 'Assistant';
  font-weight: 400;
  font-size: 17px;
  color: #222;
  margin: 15px 0 20px 0;
  letter-spacing: 1px;
  margin: 0;
}

span {
  font-family: 'PingFang TC', 'Noto Sans TC', 'Assistant';
  font-weight: 500;
  font-size: 16px;
  color: #222;
  margin: 15px 0 20px 0;
  letter-spacing: 0.5px;
}

.logo {
  height: 45px;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
li {
  margin: 0;
  padding: 0;
}

#header {
  font-weight: 500;
  letter-spacing: 0.5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
  padding: 10px 0 0 0;
  z-index: 997;
  position: fixed;
  height: 100px;
  width: 100%;
  background-color: white;
  top: 0;
}

#navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  z-index: 998;
}

#navbar-mobile {
  display: none;
}



#navbar li {
  list-style: none;
  padding: 10px 30px;
  margin-bottom: -10px;
  margin-top: -5px;
  font-weight: 400;
}

#navbar li:hover {
  color: #735429;
  text-decoration: underline;
  text-underline-offset: 10px;
  text-decoration-thickness: 3px;
  font-weight: 700;
}

#navbar li a[href="cart.html"] {
  font-size: 24px;
}

#navbar li a[href="cart.html"]:hover {
  color: #735429;
}

/*Home*/
#hero-banner {
  background-image: url("../image/dale-cardholder-model-lavender-hero-banner.jpg");
  height: 550px;
  background-size: 90rem;
  background-position: top 2rem right 35%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 100px;
  overflow: hidden;
  background-attachment: fixed;
}


#hero-banner-content {
  padding-left: 10%;
  line-height: 4;
}

.overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  overflow: hidden;
  background-color: rgba(246, 238, 238, 0.616);
  transition: none;
  z-index: 1;
}

#hero-banner-content .button-black {
  z-index: 2;
}


#feature-list {
  color: white;
  font-family: 'PingFang TC', 'Noto Sans TC', 'Assistant';
  background-color: black;
  letter-spacing: 1px;
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 15px;
  z-index: 10;
  position: relative;
}

/* icon before wording */
#feature-list li::before {
  padding-right: 10px;
}

/*About Us*/
#about-us {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 500px;
  text-align: center;
  background-color: white;
  position: relative;
  z-index: 10;
}

#about-us h2 {
  line-height: 2;
  letter-spacing: 2;
}

#about-us h1 {
  letter-spacing: 1px;
  margin: 30px 0 30px 0;
  font-size: 22px;
}

#about-us p {
  text-align: left;
  width: 70%;
  line-height: 1.5;
}


/*workshop-banner*/
#workshop-banner {
  height: 80vh;

}

#workshop-banner-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.186);
  /* Adjust the alpha value for darkness */
  z-index: -1;
}

#workshop-banner img {
  background-position: top;
  object-fit: cover;
  width: 100%;
  position: absolute;
  height: 100vh;
  z-index: -2;
  overflow: hidden;
}

#workshop-banner-content {
  padding-right: 10%;
  display: flex;
  flex-direction: column;
  top: 40%;
  align-items: flex-end;
  position: relative;
  z-index: 1;
}

#workshop-banner-content h3,
#workshop-banner-content p {
  color: white;
  padding: 0px 10px;
  letter-spacing: 2px;
}

#workshop-banner-content h3 {
  margin-bottom: 10px;
  background-color: rgba(0, 0, 0, 0.516);
  line-height: 1.5;
}

#workshop-banner-content p {
  margin-bottom: 10px;
  background-color: rgba(0, 0, 0, 0.516);
  line-height: 2;
  text-align: end;
  margin-bottom: 40px;
}

/*Feature Workshop*/
#feature-ws {
  padding: 40px 0px;
  text-align: center;
  background-color: white;
}

.feature-ws-container {
  margin: 20px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.feature-ws-card {
  justify-content: center;
  width: 20%;
  margin: 10px;
  text-align: left;
  min-width: 0px;
  border: 1px solid rgb(219, 216, 216);
  cursor: pointer;
  display: flex;
  flex-direction: column;

}

.feature-ws-card:hover {
  box-shadow: 0px 0px 10px rgb(209, 208, 208);
  transition: all 250ms ease-out;
}

.img-container {
  position: relative;
}

.des {
  flex: 1;
  padding: 20px 20px 30px 20px;
  font-size: 16px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.des h5 {
  margin-bottom: -10px;
}

#duration {
  /*duration*/
  color: grey;
  line-height: 2;
}

#duration::before {
  /*clock icon*/
  padding-right: 5px;
}

.des .price {
  color: #735429;
  margin-top: -5px;
}

#feature-ws img {
  width: 100%;
}

* {
  font-family: 'GFS Didot', 'PingFang TC', 'Noto Sans TC', 'Assistant';
  font-display: fallback;
}


/*testimonials*/
#testimonal {
  background-color: #f4f3ef;
  text-align: center;
}

#testimonal h2 {
  padding: 40px 0 40px 0;
}

#big-wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  min-height: 550px;
  background-color: #f4f3ef;
}

.wrapper {
  max-width: 1100px;
  width: 100%;
  position: relative;
}

.wrapper i {
  /*arrow*/
  top: 50%;
  height: 50px;
  width: 50px;
  cursor: pointer;
  font-size: 1.25rem;
  position: absolute;
  text-align: center;
  line-height: 50px;
  background: #fff;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.23);
  transform: translateY(-50%);
  transition: transform 0.1s linear;
}

.wrapper i:active {
  transform: translateY(-50%) scale(0.85);
}

.wrapper i:first-child {
  /*left arrow*/
  left: -60px;
}

.wrapper i:last-child {
  /*right arrow*/
  right: -60px;
}

.wrapper .carousel {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: calc((100% / 3) - 15px);
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  gap: 25px;
  scroll-behavior: smooth;
  scrollbar-width: none;
}

.carousel::-webkit-scrollbar {
  display: none;
}

.carousel.no-transition {
  scroll-behavior: auto;
}

.carousel.dragging {
  scroll-snap-type: none;
  scroll-behavior: auto;
}

.carousel.dragging .card {
  cursor: grab;
  user-select: none;
}

.carousel :where(.card, .img) {
  display: flex;
  justify-content: center;
  align-items: center;
}

.carousel .card {
  scroll-snap-align: start;
  height: 450px;
  list-style: none;
  background: #fff;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
  padding: 10px;
  position: relative;
}

.carousel .card span {
  color: rgb(158, 157, 157);
  font-size: 14px;
  font-style: italic;
  text-align: left;
  position: absolute;
  bottom: 10px;
  left: 20px;
  right: 0;
  margin-bottom: 10px;
  overflow: visible;
}

.card .img img {
  max-width: 90%;
  background-position: center;
  padding-top: 20px;
}


/*our-clients*/

#our-clients {
  height: 500px;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  position: relative;
}

#logo-wrapper {
  width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

#logo-wrapper img {
  object-fit: contain;
  height: 90px;
  margin: 10px;
  cursor: pointer;
}

#logo-wrapper #hkbu {
  width: 200px;
}

#logo-wrapper #link {
  height: 60px;
}

#logo-wrapper #HKSTP {
  height: 70px;
}

#our-clients p {
  width: 50%;
  text-align: center;
}


/*footer*/

footer {
  background-color: #312e39;
  color: white;
  line-height: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 400px;

}

footer a:hover {
  color: rgb(199, 196, 196);
}

.footer-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 80%;
  padding-top: 10px;
}

footer a,
footer p {
  color: white;
  font-weight: 300;
}

footer h5 {
  font-weight: 600;
}

.footer-column {
  display: flex;
  flex-direction: column;
}

#follow-us a {
  font-size: 24px;
  margin-right: 10px;
}

#payment-method {
  padding-top: 20px;
}

#payment-wrapper {
  display: inline;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 5px;

}


#payment-wrapper img {
  width: 40px;
  height: 20px;
  background-color: white;
  border-radius: 5%;
  object-fit: cover;
  padding: 0.5%;
}

#copyright {
  text-align: center;
}

#copyright p {
  bottom: 10px;
  font-size: 14px;
}

#copyright span {
  font-size: 12px;
  color: grey;
}

/*ipad*/
@media screen and (max-width: 900px) {
  h2 {
    font-size: 24px;
  }

  h3 {
    font-size: 32px;
  }

  h4 {
    font-size: 20px;
  }

  /*header*/
  #header {
    flex-direction: row;
    height: 80px;
  }

  #navbar {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    position: fixed;
    top: 0;
    right: -300px;
    height: 100vh;
    width: 300px;
    background-color: white;
    box-shadow: 0 40px 60px rgba(0, 0, 0, 0.1);
    margin: 80px 0 0 10px;
    transition: 0.3s;
    z-index: 998;
  }

  #navbar.active {
    right: 0px;
  }

  #navbar li {
    margin-bottom: 10px;
  }

  #navbar-mobile {
    display: inline;
    position: absolute;
    right: 30px;
    top: 25px;
    font-size: 2em;
  }

  #shopping-bag-mobile {
    margin-right: 10px;
  }

  #shopping-bag {
    display: none;
  }

  /*hero-banner*/
  #hero-banner {
    height: 550px;
    background-size: 75rem;
    background-position: top 5rem right 35%;
    justify-content: flex-end;
    margin-top: 80px;
  }

  #hero-banner-content {
    margin-bottom: 10%;
  }

  /*about-us*/
  #about-us {
    height: 450px;
  }

  #about-us p {
    width: 80%;
  }

  #about-us h1 {
    font-size: 20px;
  }

  /*feature-workshop*/
  .feature-ws-container {
    flex-wrap: wrap;
  }

  .feature-ws-card {
    width: 40%;
  }

  /*our-clients*/
  #our-clients {
    padding: 40px 0px;
    height: 600px;

  }

  #logo-wrapper {
    flex-wrap: wrap;
    width: 80%
  }

  #our-clients p {
    margin-bottom: 10px;
    width: 80%;
  }

  #logo-wrapper img {
    height: 80px;
  }

  #logo-wrapper #hkbu {
    width: 180px;
  }

  #logo-wrapper #link {
    height: 50px;
  }


  /*testimonal*/

  .wrapper i {
    display: none;
  }

  .wrapper .carousel {
    grid-auto-columns: calc((100% / 2) - 9px);
    margin: 0 40px;
  }

  /*footer*/
  #footer {
    height: 700px;
  }

  .footer-wrapper,
  #copyright {
    width: 60%;
  }

  #footer-column-3 {
    margin-top: 20px;
  }
}

/*iphone*/
@media screen and (max-width: 480px) {
  h1{

  }
  
  h2 {
    font-size: 24px;
  }

  h3 {
    font-size: 28px;
  }

  h4 {
    font-size: 18px;
  }
  
  p{
    font-size: 17px;
  }

  /*header*/
  #navbar {
    padding-top: 40px;
  }
  #navbar-mobile {
    right: 20px;
  }

  /*hero-banner*/
  #hero-banner {
    height: 550px;
    background-size: 80rem;
    background-position: top 5rem right 24%;
    align-items: center;
    justify-content: center;
  }

  #hero-banner-content {
    margin-bottom: -10%;
    text-align: center;
    padding-left: 0;
  }

  #feature-list{
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    margin: 0;
    height: 100px;
  }
  #feature-list li{
    padding: 5px, 0;
  }
  

  /*about-us*/
  #about-us {
    height: 700px;
  }
  #about-us-wrapper{
    width: 80%;
  }
  #about-us p {
    width:100%;
    text-align: justify;
  }
  #about-us h1 {
    font-size: 20px;
  }
  #about-us p, h1, h3{
    line-height: 1.8;
  }


  /*workshop-banner*/
  #workshop-banner{
    height: 700px;
  }

  #workshop-banner p{
    width: 70%;
  }


  /*feature-workshop*/
  .feature-ws-container{
    width: 100%;
  }
  
  .feature-ws-card {
    width: 40%;
    margin: 10px;
  }

  .des {
    padding: 20px 10px 30px 20px;
  }

  /*our-clients*/
  #our-clients {
    padding: 40px 0px;
    height: 700px;

  }
  #logo-wrapper {
    width: 100%
  }

  #our-clients p {
    margin-bottom: 10px;
    width: 80%;
    text-align: justify;
  }

  /*testimonal*/

  .wrapper i {
    display: none;
  }

  .wrapper .carousel {
    grid-auto-columns: calc((100% / 2) - 9px);
    margin: 0 40px;
  }

  /*footer*/
  #footer{
    height: 750px;
  }
  .footer-wrapper{
    width: 80%;
  }
  #copyright{
    width: 100%;
  }
  #follow-us a {
    font-size: 30px;
    margin-right: 10px;
  }

}


@media screen and (max-width: 600px) {
  .wrapper .carousel {
    grid-auto-columns: 100%;
  }
}